.page {
    background-color: antiquewhite;
}

.header {
    background-color: rgb(8, 235, 235);
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 10px black;
    background-image: linear-gradient (rgb(8, 235, 235), white);
}

header nav {
    background-color: lavender;
    height:50px;
    border-radius: 5px;
    padding: 0px 20px black;

}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.portfolio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.nav {
    display: flex;
    list-style-type:none;
    position: absolute;
    top: 20px;
    left: 1200px;
}
.nav a {
    justify-content:space-around;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 1px solid black;
}
