:root {
    --background: lightcoral;
    --light: white;
    }

body {
    display: flex;
    flex-direction: column;
}

.page {
    background-color: lightgrey;
}

header {
    display: flex;
    background-color: gray;
    padding: 2px;
    box-shadow: 5px 10px black;
    background-image: linear-gradient (rgb(8, 235, 235), white);
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: lightcoral;
    width: 450px;
    box-shadow: 5px 5px white;
}

.portfolio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
   display: inline-block;
   margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: underline;
}

a:visited { 
    color: rgb(195, 46, 111);
}

a:link {
    color: var (--light);
}

.email {
    color: var (--light);
    
}
h2 {
    display: flex;
    position: absolute;
    bottom: 400px;
    right: 16px;
    color: black;
    background-color: lightcoral;
    width: fit-content;
    border: 5px solid black;
}

.sections {
    flex: 1;
    padding: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    color: rgb(86, 82, 82);
    text-align: left;
}

.bio {
    float: right;
    text-align: left;
    background-color: white;
    width: 1000px;
    height:200px;
    margin: 10px 10px;
    display: inline-block;
}


.cards {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: horizontal;
}

.cards:hover {
    cursor: grab;
}

.box-title:hover {
font-size: larger;


}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightcoral;
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    width: 400px;
    color: aliceblue;
    justify-content: space-around;
    border-style: ridge;
}


.contact {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    writing-mode: horizontal-tb;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
}

section {
    background-color: white;
    width: 100%;
    border: dotted lightcoral;
    margin: 10px;
    background-image: linear-gradient(white, lightcoral);
}

@media screen and (max-width: 992px) {
    header {
        background:rgb(14, 7, 7)}
    }

    @media screen and (max-width: 768px) {

        h2 { display:inline-block}
        
    }

