:root {
    --highlight: lightcoral;
    --light: white;
}

.page {
    background-color: lightgrey;
}

header {
    background-color: gray;
    padding: 2px;
    box-shadow: 5px 10px black;
    height: 100px;
}

.header {
    float: left;
    width: 40%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--light);
    background: var(--highlight);
    width: 450px;
    box-shadow: 5px 5px var(--light);
}

.portfolio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

header>nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: var(--light);
    text-decoration: underline;
    text-align: center;
    padding: 16px;
}

.background-image {
    padding: 10px 10px 0px 10px;
    height: 200px;
    width:100%;
}
a:link {
    color: var (--light);
}
a:hover {
    background-color: darkgray;
    color: rgb(195, 46, 111);
}

.email {
    color: var (--light);
}

h2 {
    display: flex;
    position: absolute;
    bottom: 400px;
    right: 16px;
    color: black;
    background-color: lightcoral;
    width: fit-content;
    border: 5px solid black; }

.sections {
    flex-direction: column;
    flex: 1;
    padding: 5px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    color: rgb(86, 82, 82);
    text-align: left;
}

.bio {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    justify-content: space-around;
}



.cards {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: horizontal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.cards:hover {
    cursor: grab;
}


.container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--highlight);
    margin-bottom: 20px;
    padding: 50px;
    color: aliceblue;
    justify-content: space-around;
    height: 150px;
    width: 300px;
    border-style: ridge;
}

.container:hover {
    width: 350px;
    height: 200px;
    display: inline-block;
}

.box-body:hover {
    width: 350px;
    height: 200px;
    display: inline-block;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    writing-mode: horizontal-tb;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: var(--light);
}

section {
    background-color: var(--light);
    width: 100%;
    border: dotted var(--highlight);
    margin: 10px;
    background-image: linear-gradient(white, gray);
    height: fit-content;
    width: auto;
}

.float-right {
    float: right;
    width: 100px;
    padding: 5px
}

@media screen and (max-width: 992px) {
    header {
        background: rgb(14, 7, 7);
        height: 150px
    }
}

@media screen and (max-width:768px){
    nav {width:100%}
    h2 {display: none;}
    .container{ width:100%;}
    .background-image {display: none;}
}